



.contacts 
{
    width:auto;
    margin:10px auto;
}

.contacts img
{
    width:20px;
}

.cornice
{
    width:auto;
    margin:0 auto;
}

.cornice div span
{
    margin-left:5px;
}

.cornice div.right img
{
    height: 20px;
}