/*position and hide the menu initially - leave room for menu items to expand...*/
#page 
{
    position:relative;
    padding-top:50px; 
    padding-bottom:10px; 
    width:600px;
}

#menu 
{
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    display:none;
}

/*dock styling...*/
/*...centre the dock...*/
#menu div.jqDockWrap 
{
    margin:0 auto;
}

/*...set the cursor...*/
#menu div.jqDock 
{
    cursor:pointer;
}

/*label styling...*/
div.jqDockLabel 
{
    font-weight:bold; 
    font-style:italic; 
    white-space:nowrap; 
    color:#ffffff; 
    cursor:pointer;
}



.contacts 
{
    width:600px;
    margin:10px auto;
}

.contacts img
{
    width:600px;
}

.cornice
{
    width:850px;
    margin:0 auto;
}

.cornice div span
{
    margin-left:5px;
}

.cornice div.right img
{
    height: 20px;
}