.itemContainer
{
    width:100%;
}



/* INIZIO DISCO ITEM */
div.discoItem
{
    font-family: Verdana;
    height:100% !important;
    min-height: 100%;

    /*width: 700px;*/
    margin: 10px auto;
    padding: 2% 2%;
    font-size: 1vw;
}

div.discoItem h3
{
    /*font-size: 0.9em;*/
    font-weight: bold;
    color: #a80707;
}

div.discoItem div.left
{
    /*height: 100%;*/
    /*padding:auto 0;*/
    width:45%;
    margin-right: 5%;
}
div.discoItem div.left img
{
    margin:auto 0;
    width: 100%;

}
div.discoItem div.right
{
    float: left;            
    color: #190101;
    width:45%;

    
}
div.discoItem div.right ul
{
    list-style-type:none;
    padding-left: 0px !important;
    -webkit-padding-start:0px;
}
div.discoItem div.right div.titletrack
{
    padding-left: 0px !important;
    -webkit-padding-start:0px;
}

div.discoItem div.right div.info p
{    
    font-weight: bold;
    color: #190101;

    text-align:right;	 
}
div.discoItem div.right div.info span
{
    font-weight:bold;
    color:Gray;   
    float:left;
    padding-left:0; 	 
}
div.discoItem div.right div.info ul
{    	
    
}
div.timing
{    
    font-weight:bold;
    float:right;
    /*padding-left:2%;
}
/* FINE DISCO ITEM */
