html { 
    background-color: #000;
  background: url(../../images/SFONDO-SITO.jpg) no-repeat center center fixed; 
  background-size: 637px 800px;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
  /*background-size: cover;*/
}


body
{
    width:100%;
    height:100%;
    margin:0px auto;
    padding:0px;
    /* font-family:"Nadia Serif", Georgia; */
    font-family:"menschthin","Trebuchet MS", Arial, Helvetica, sans-serif;
    /*color:#666;*/
	color:#404040;
    /*background-color: #dad8d8;*/
    
    z-index:0;

    /*background-image: url(../../images/se-bg.jpeg);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;*/
    min-height: 100%;
    z-index:3;
    filter: alpha(opacity=90);
    opacity: 0.9;
}



body.hp
{
    background: url(../../images/bg_container.jpg) top center no-repeat #fff;
}

body.hp_new
{
    background: url(../../images/bg_container_B_W.jpg) top center no-repeat #fff;
}


a
{
    color:inherit;
    text-decoration:none;
    cursor: pointer;
}



a:link, a:visited
{
    color:inherit;
    text-decoration: none;
    cursor: pointer;
}
a:hover
{
    color:inherit;
    text-decoration: none;
    cursor: pointer;
}
a img
{
    border: 0px;
    cursor: pointer;
}

img{
    margin:0px;
    padding:0px;
    border:0px;
}

.hide 		{ display: none; }

.block		{ display: block; }

.inline_block
{ 
    display:inline-block; 
}

.inline     { display:inline; }

.left		{ float: left; }

.right		{ float: right; }

.clear 		{ clear: both; }

.clear_left	
{
    clear: left;
}

.clear_right
{
    clear: right;
}


.center		{ text-align: center; }

p
{
    margin:0px 0px;
    padding:10px 10px;
    text-align:left;
    clear:left;
    font-size:0.8vw;
    font-family:Verdana,"Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align:left;
    word-spacing:0.3em;
}

h1
{
    font-weight:bold;
    font-size: 4vw;
    color:#ce5e1c;
}


h1.sopraheader_new
{
    color:#fff;
    font-size:0.9vw;
    text-align:center;
    margin:0px auto;
    padding:0px;
    width:960px;
    line-height:2.0em;
    letter-spacing:0.1em;
    font-family:Arial, Helvetica, sans-serif;
}

h1.page
{
    /*font-size:22px;*/
    font-size:6vw;
    text-align:right;
    margin:5px 0px 0px;
    padding:0px 10px 10px 0px;
    border-bottom:1px dashed #c1bbbb;
    font-family:"ArvilSans","rivannaregular","BooBooKittyRegular","Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #a80707;
}

h2
{
    display:inline-block;
    font-weight:bold;
    padding:0px;
    color:#ce5e1c;
    font-size:1.2vw;
    text-align:left;
    margin:0px;
    letter-spacing:0.1em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color:#ce5e1c;
}

h2 a
{
    color:#777777;
}

h2 a:hover
{
    color:#ce5e1c;
}

/* -------------------------- SPECIFICHE CONTENUTO -------------------------- */



div#container
{
    min-height: 100%;
    width:95%;
    margin:0px auto;
    padding:0px;


    z-index:10;
}

/* -------------------------- INIZIO HEADER -------------------------- */



div#header
{
    /*height:100%;*/
    max-width:85%; 
    margin:0px auto;

    background-color: #dad8d8;
    box-shadow:3px 3px 6px 1px #000000;

    /*zoom: 1;
    filter: alpha(opacity=90);
    opacity: 0.9;*/
}


div#sopraheader_new
{
    height:30%;
    max-width:100%;
    margin:0px auto;
    padding:0px;
    background: url(../../images/bg_sopraheader_new.png) top center no-repeat #fff;
}

/* -------------------------- INIZIO FOOTER -------------------------- */

div#footer
{
    width:87%;
    margin:0px auto;
    padding: 3%;
    background-color: #dad8d8;
    box-shadow:3px 3px 6px 1px #000000;
    zoom: 1;
    filter: alpha(opacity=90);
    opacity: 0.9;
    /*min-height: 150px !important;*/
    
    color:#000;
    /*height: auto;*/
    margin-bottom:10%;
    font-size: 1.2vmax;
    min-height: 100px !important;
    max-height: 200px !important;
    

}
div#shareFooter
{
    float:right;
    margin-right:10%;
    margin-top:10%;
}

.footerContent{
   
}
.socialfooter
{
  margin-right: 30%;
    height: 100% !important;
    margin: auto 0px;
}
.contacts
{
    height: 100% !important;
    margin: auto 0px;
/*margin-left: 20%;*/
}

#footer ul
{
    list-style-type: none;
}

/* -------------------------- FINE FOOTER -------------------------- */

/* -------------------------- INIZIO CONTENT -------------------------- */
.stack{
    background-color:#dad8d8;
    width: 97%;
    height: 100%;
    padding: 8px 8px 8px 8px;
    margin-bottom: 5%;
    zoom: 1;
    filter: alpha(opacity=90);
    opacity: 0.9;
    box-shadow:3px 3px 6px 1px #000000;
    z-index:8;
}

div#content
{
    width:70%;
    /*height:1400px !important; height: auto;  /* a fine lavori al 100%*/
    height: auto;
    margin:2% auto 0px;
    padding:5px 5px 5px 5px;
    /*background-color: #dad8d8;*/
    
    
}

div.column_content
{
    display:block;
    padding:0px 0px;
}

div.column_content.border
{
    border:1px solid #c1bbbb;
    height:100%;
    width:35%;
    margin:0px;
}



/* -------------------------- INIZIO MENU -------------------------- */

div#menuWM
{
    width:93%;
    margin:0px auto 0px;
    padding:10px 0px 0px;

}

div#menuWM ul
{
    margin:0px;
    padding:0px 40px;
    list-style-type:none;
}


div#menuWM ul li
{
    display:inline;
    color:#c1bbbb;
    
    /*font-size:16px;*/
    
    font-size:1.5vw;
    /*margin:0px 3%;*/
    font-family: "menschthin","ArvilSans","rivannaregular",'BooBooKittyRegular';   
}
div#menuWM ul li b
{
    color: #a80707;
    
    /*font-size: 22px;*/
}
div#menuWM ul li a
{
    /*color:#c1bbbb;*/
    color:#5A5A5A;
}

div#menuWM ul li a:hover
{
    color:#000;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}


div#menuWM.interno ul
{
    margin:10px 0px 0px;
    padding:0px 0px;
    list-style-type:none;
    width:100%;
}

div#menuWM.interno ul li
{
    color:#c1bbbb;
    /*font-size:16px;*/
    font-size:1vw;
    /*margin:0px 0px 0px 8px;*/
    font-family: "ArvilSans","rivannaregular",'BooBooKittyRegular', Verdana;   
    display:inline; /* per bug IE6 */
}

div#menuWM.interno_en ul li
{
    color:#c1bbbb;
    font-size:1vw;
   /* margin:0% 0% 0% 2%;*/
    display:inline; /* per bug IE6 */
}

div#menuWM.interno ul li img
{
    vertical-align:middle;
   
    display:inline; /* per bug IE6 */
    width:50% !important;
    height:60% !important;
}

div#menuWM.interno ul li img.en
{
    /*margin:0px 25% 0px 0px;*/
}

div#menuWM.interno ul li.logo{
    margin-right:40%;
    margin-left: 20%;
}

div#menuWM.interno ul li a
{
    /*color:#c1bbbb;*/
    color:#5A5A5A;
    /*color:white;*/
       
    display:inline-block;
}
div#menuWM.interno ul li a b
{
    display: inline-block;
    font-size: 2vw;    
}
div#menuWM.interno ul li a:hover
{
    color:#000;
}
/*
a.menuItem
{
    display: none;
}
a.menuItem b
{
    font-size: 24px;
    display: block;
}*/









/* INIZIO TABLE SORTER */
/* tables */
table.tablesorter {
    font-family:arial;
    background-color: #CDCDCD;
    margin:10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px;
}
table.tablesorter thead tr .header {
    background-image: url(../../images/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}
table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(../../images/asc.gif);
    background-image: url(../../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(../../images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}

/* FINE TABLE SORTER */


/* Press Item -begin */
div.pressItem{
    background-color: #DCE1E3;
    padding: 4px;
    border:1px solid #B0B0B0;border-right:0 solid;
    margin: 10px auto;
}
div.pressTitle
{
    width:100%;
    /*font-family: "MARIDAVIDRegular";
    font-weight: bold;*/
    font-size: 1.5vw;
    color:#A80707;
    padding-left: 10px;
    padding-top: 2px;
    

}
div.pressDate
{
    width:40%;
    float:right;
    font-size: 1vw;
    font-style: italic;
}
div.pressHeader
{
    margin:1% 0;
    height:30%;
}
div.pressSubTitle
{
    font-style: italic;
    font-size: 1.3vw;
    margin: 5px 0px;
    padding-left: 12px;
    color:#000000;
    float:left;
    height:30%;
}
div.pressText
{
    /*margin:40px 6px;*/
    padding: 2px 2px;
    font-size: 1vw;
    font-style:italic;
    width:90%;

}

div.pressVai
{
    margin-top: 1%;
    font-size: 1vw;
    font-style: italic;
    cursor: pointer;
    text-align: center;

}

div.pressDetailHead
    {
        /*background-color: #DCE1E3;*/
        padding: 4px;
        /*border:1px solid #B0B0B0;border-right:0 solid;*/
        margin: 10px auto;
        height:100px;
    }
    div.pressDetailText
    {
        font-size:80%;
    }

div.pressDetail div.pressSubTitle{
    color:#fff;
}

div.pressDetailText{
    color:#fff;   
    text-align: center;
}

div.pressDetailHead div.pressHeader div.pressTitle h3{
    font-weight: bolder;
    font-size:2vw;
}

div.pressDetailHead div.pressHeader div.pressDate{
 color:#fff;      
}
/* Press Item End */


div#condividi
{
     float: right;
     cursor:pointer; 
     font-family:"ArvilSans","rivannaregular",  'BoobooKittyRegular','MARIDAVIDRegular'; 
     text-align: center; 
     font-size: 2vw; 
     margin-right: 10px;
}




div#albumContainer
{
    width: 90%;
    margin:5% auto;
}
div#album
{
    width: 90%;
    margin:2% auto;
    text-align: right;
}
a#merchOrder
{
    font-family: "ArvilSans","rivannaregular";
}

.audiojs { margin: 15px 0px 20px; }