
/* INIZIO EVENT ITEM */
div.eventItem
{
    font-family: "palatino", "rivannaregular", Verdana;
    height: 100%;
    width: 100%;
    margin: 1% auto;
    text-align: center;
    color:#000;
    text-shadow:0.8px 0.8px #000;
    
    
}
.events
{
    text-align: center;
    font-family: "palatino","rivannaregular";
    margin:10px auto;
    font-size: 1vw;
    width: 80%;
    color:#000;
}
.black
{
    color:black;
    font-size: 1.5vw;
    text-shadow:0.8px 0.8px #000;
}
.bookingInfo
{
    float:right; font-size:70%;
    font-family: "palatino","rivannaregular";
}

div.eventItem a
{
    /*color: #a80707;*/
    text-decoration:none;
}
.eventItem_data
{
    font-size: 1.3vw;
    
}

div.eventItem p
{
    margin-top: 10%;
    font-size: 1vw;
}

.eventItem_dove
{
    font-size: 28px;
}
.eventItem_locale
{
    font-size: 32px;
}

.eventItem_desc
{
    font-size: 20px;
    width: 30%;
}
/* new section */
.eventsPager
{
    width:100%;
    margin: 2% auto;
    font-size: 0.8vw;
    font-family: "palatino","rivannaregular", Verdana;
    font-weight: bold;
    text-align: center;
}
.eventsNoItems
{
    font-family: "palatino","rivannaregular", Verdana;
    color:#000;
    margin: 4% auto;
    text-align: center;
    font-size:1.8vw;
}
/* new section */
/*div.eventItem h3
{
    font-size: large;
    font-weight: bold;
    color: #a80707;
}*/
div.eventItem p
{
    /*font-size: small;*/
    font-weight: normal;
    color: #190101;
    height:100%;
    width:100%;

}
div.eventItem span
{
    font-size: xx-small;
    font-weight: normal;
    color: #190101;
}
div.eventItem div.left
{
    /*height: 270px;
    width: 200px;*/
    float: left;
    margin-right: 5%;
    width:45%;

}
div.eventItem div.left img
{
    /*height: 260px; */
    width: 300px;
    margin: auto;
}
div.eventItem div.right
{
    /*height: 270px;
    width: 300px;*/
    float: right;
    padding: 2% 0% 0% 2%;
    width:45%;
}
/* FINE EVENT ITEM */

/* INIZIO EVENT DETAIL */
div.eventDetail
{
    color:#fff;
    /*height:500px;*/
    font-family: Verdana;      
    margin: 2% 2%;
}
div.eventDetail div.contentLeft
{
    float:left;
    width:320px;
} 
div.eventDetail div.contentLeft div.locandina
{

}
div.eventDetail div.contentLeft div.locandina img
{
    height: 260px; 
    width: 190px;
    margin: auto;
}
div.eventDetail div.contentLeft div.eventInfo
{

}
div.eventDetail div.contentLeft div.eventInfo ul
{
    list-style-type:none;
    list-style-image:url(../../images/listItem_small.png);

    font-size:small;       
}
div.eventDetail div.contentLeft div.eventInfo ul li
{
    vertical-align:middle;       
    margin:2px 2px;
}
div.eventDetail div.contentLeft div.eventInfo span
{
    font-weight: bold;       
}
div.eventDetail div.contentRight div.eventDescription
{
    font-size: small;
}
/*div.eventDetail div.contentRight div.eventDescription h3
{
    font-size: large;
    font-weight: bold;
    color: #a80707;
}*/
div.eventDetail div.contentRight div.eventDescription span
{
    font-weight:bold;
    color:Gray;    	 
}
div.eventDetail div.contentRight div.eventDescription ul
{
    list-style-type:none;
    font-size:x-small;

}
div.eventDetail div.contentRight
{
    float:left;
    width:520px;
}

div.eventDetail div.contentRight div.eventLocationMap
{
    margin-left:30px;
    margin-top:10px;
}
/* FINE EVENT DETAIL */